<%= render 'static_pages/survey' %>

<div class="home-image f-topbar-fixed">
  <div class="row">
    <div class="medium-12 columns">
      <%= render 'layouts/messages' %>
      <div class="logo-wrapper">
        <%= image_tag "logo.svg", alt: "Thrive Logo", class: "logo" %>
      </div>
      <h2 class="uvp">Cultivating community by growing affordable local produce and sharing ideas for healthy living.</h2>
      <%= link_to "Learn More", "#about", class: "button radius learn-more smooth" %>
    </div>
  </div>
</div>
<div class="section survey", id="about">
  <div class="row">
    <div class="medium-12 columns">
      <h3>Would you like to help us select what we will grow this year?</h3>
      <a href="#" class="button learn-more small radius" data-reveal-id="myModal" data-reveal>Take our survey now</a>
    </div>
  </div>
</div>
<div class="section black about", id="about">
  <div class="row">
    <div class="medium-5 columns center">
      <%= image_tag "cultivating.svg", class: "icon" %>
    </div>
    <div class="medium-7 columns">
      <h3 class="white">Helping our neighbors</h3>
      <p class="white">
        The Thrive Neighborhood Market & Community Garden provides affordable fresh produce to our community through our monthly farmers markets and community garden located at St. Paul's Episcopal Church, 900 Normal Rd, in DeKalb, IL.
        <br>
        <%= link_to "https://www.google.com/maps/preview?q=900+Normal+Road,+DeKalb,+IL&hl=en&sll=41.928177,-88.746305&sspn=0.226052,0.528374&oq=900+Normal+Road&hnear=900+Normal+Rd,+DeKalb,+Illinois+60115&t=m&z=17", target: "new" do %>
          <%= fa_icon "map-marker" %> Do you need directions?
        <% end %>
      </p>
      <div class="arrow-down">
        <%= link_to "#community", class: "smooth arrow-down" do %>
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-angle-down fa-stack-1x"></i>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="section about dashed-border", id="community">
  <div class="row">
    <div class="medium-5 medium-push-7 columns center">
      <%= image_tag "community_garden.svg", class: "icon" %>
    </div>
    <div class="medium-7 medium pull-5 columns">
      <h3>Community supported</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium doloribus facere hic alias officiis eveniet ipsum. Nam, accusantium, quam, ea rem dolorum ad quibusdam aperiam quod suscipit deserunt inventore dicta.
      </p>
      <div class="arrow-down">
        <%= link_to "#healthy", class: "smooth arrow-down" do %>
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle white-bg fa-stack-2x"></i>
            <i class="fa fa-angle-down fa-stack-1x"></i>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="section black about", id="healthy">
  <div class="row">
    <div class="medium-5 columns center">
      <%= image_tag "healthy.svg", class: "icon" %>
    </div>
    <div class="medium-7 columns">
      <h3 class="white">Promoting healthy living</h3>
      <p class="white">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, earum, recusandae itaque ipsa provident atque inventore repellat odio explicabo vel nam officiis quaerat et minus ea cumque omnis nostrum quos!
      </p>
      <div class="arrow-down">
        <%= link_to "#when", class: "smooth arrow-down" do %>
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-angle-down fa-stack-1x"></i>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="section about dashed-border", id="when">
  <div class="row">
    <div class="large-12 small-8 small-centered medium-8 medium-centered columns center">
      <h3 class="center">Market Dates</h3>
      <h5 class="center">
        Join us at <%= link_to "St. Paul's Episcopal Church", "http://stpaulsdekalb.org/" %> on the fourth Saturday of each month.
      </h5>
      <div class="dates">
        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
          <li>
            <div class="date-card">
              <div class="month radius">
                <p>June</p>
              </div>
              <div class="day">
                <p>28</p>
                <small>11AM - 2PM</small>
              </div>
            </div>
          </li>
          <li>
            <div class="date-card">
              <div class="month radius">
                <p>July</p>
              </div>
              <div class="day">
                <p>26</p>
                <small>11AM - 2PM</small>
              </div>
            </div>
          </li>
          <li>
            <div class="date-card">
              <div class="month radius">
                <p>Aug</p>
              </div>
              <div class="day">
                <p>23</p>
                <small>11AM - 2PM</small>
              </div>
            </div>
          </li>
          <li>
            <div class="date-card">
              <div class="month radius">
                <p>Sept</p>
              </div>
              <div class="day">
                <p>27</p>
                <small>11AM - 2PM</small>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-10 medium-centered columns">
      <h3 class="center">Enter your phone number to receive SMS updates</h3>
      <div class="form-wrapper phone-wrapper">
        <%= form_for @phone_number, html: { :"data-abide" => "" } do |f| %>
          <div class="row">
            <div class="medium-7 columns">
              <div class="input-wrapper">
                <%= f.telephone_field :number, placeholder: "123-456-7890", pattern: "phone", class: "large-font", required: true %>
                <small class="error">A valid phone number is required.</small>
              </div>
            </div>
            <div class="medium-5 small-12 columns end">
              <%= f.submit "SIGN UP", class: "button learn-more radius expand" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="section black about", id="sponsors">
  <div class="row">
    <div class="medium-12 columns sponsors">
      <h3 class="white">Our community sponsors:</h3>
      <ul class="small-block-grid-1 medium-block-grid-2">
        <li class="center">
          <%= image_tag "st_pauls_logo.png" %>
          <p class="white">St. Paul's Episcopal Church</p>
          <p class="center">
            <%= link_to "http://www.stpaulsdekalb.org/", class: "social-links" do %>
              <%= fa_icon "home" %>
            <% end %>
            <%= link_to "https://www.facebook.com/pages/St-Pauls-Episcopal-Church-DeKalb-IL/115550275180279", class: "social-links" do %>
              <%= fa_icon "facebook" %>
            <% end %>
            <%= link_to "https://twitter.com/stpaulsdekalb", class: "social-links" do %>
              <%= fa_icon "twitter" %>
            <% end %>
          </p>
        </li>
        <li class="center">
          <%= image_tag "dccg_logo.png" %>
          <p class="white">DeKalb County Community Gardens</p>
          <p class="center">
            <%= link_to "http://dekalbgardens.org/", class: "social-links" do %>
              <%= fa_icon "home" %>
            <% end %>
            <%= link_to "https://www.facebook.com/pages/DeKalb-County-Community-Gardens/172974836084982", class: "social-links" do %>
              <%= fa_icon "facebook" %>
            <% end %>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="section about dashed-border", id="contact">
  <div class="row">
    <div class="medium-12 columns">
      <h3 class="center">Do you have questions, suggestions, or feedback?</h3>
      <div class="form-wrapper">
        <%= form_tag "http://api.formspree.com/jameswilliamiii@gmail.com", :"data-abide" => "" do %>
        <div class="row">
          <div class="medium-4 medium-offset-2 small-11 small-centered columns">
            <!--[if IE]>
            <%= label_tag :email %>
            <![endif]-->
            <div class="input-wrapper">
              <%= email_field_tag :email, nil, placeholder: "Email", name: "_replyto", required: true, pattern: "email" %>
              <small class="error">A valid email address is required.</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="medium-8 medium-centered small-11 small-centered columns">
            <!--[if IE]>
            <%= label_tag "Your Message" %>
            <![endif]-->
            <div class="input-wrapper">
              <%= text_area_tag :content, nil, placeholder: "Enter your message here", rows: 4, name: "content", required: true %>
              <small class="error">You must provide a message</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="medium-4 medium-offset-2 large-3 small-11 small-centered columns">
            <input type="hidden" name="_next" value="//localhost:3000<%= thanks_path %>" />
            <%= submit_tag "SEND MESSAGE", class: "button learn-more radius expand" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>