<div class="row">
  <div class="medium-12 columns">
  <div class="row">
    <div class="medium-3 columns">
      <%= render 'side_nav' %>
    </div>
    <div class="medium-9 columns">
      <h3>Survey Results</h3>
      <table class="admin-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>From</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          <% @survey_items.each do |survey| %>
            <tr>
              <td><%= survey.created_at.strftime('%D') %></td>
              <td><%= survey.phone_number || "--" %></td>
              <td><%= survey.message %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @survey_items %>
    </div>
  </div>
  </div>
</div>