<div class="contain-to-grid fixed" id="nav">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <%= link_to root_url do %>
          <%= image_tag 'thrive_logo_nav.svg', alt: "Thrive Logo", class: "top-bar-logo" %>
        <% end %>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li>
          <% if home? %>
            <%= link_to "ABOUT", "#about", class: "smooth" %>
          <% else %>
            <%= link_to "ABOUT", root_url(anchor: "about"), class: "smooth" %>
          <% end %>
        </li>
        <li>
          <% if home? %>
            <%= link_to "WHEN", "#when", class: "smooth" %>
          <% else %>
            <%= link_to "WHEN", root_url(anchor: "when"), class: "smooth" %>
          <% end %>
        </li>
        <li>
          <% if home? %>
            <%= link_to "SPONSORS", "#sponsors", class: "smooth" %>
          <% else %>
            <%= link_to "SPONSORS", root_url(anchor: "sponsors"), class: "smooth" %>
          <% end %>
        </li>
        <!-- <li>
          <%# if home? %>
            <%#= link_to "CONTACT", "#contact", class: "smooth" %>
          <%# else %>
            <%#= link_to "CONTACT", root_url(anchor: "contact"), class: "smooth" %>
          <%# end %>
        </li> -->
        <li><%= link_to "BLOG", "http://thrivemarket.tumblr.com/" %></li>
        <% if signed_in? %>
          <li><%= link_to "ADMIN", admin_url, class: "orange" %></li>
          <li><%= link_to "SIGN OUT", sign_out_url, method: "delete", class: "orange" %></li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>